:root {
  --main-color: #000000;
  --secondary-color: #333;
  --border-color: #D1D2D4;
  --placeholder-color: #949494;
  --font-family: "Arial, sans-serif";
  --font-family-playfair: 'Playfair Display', serif;
}

.search-input {
  padding: 10px 20px;
  border: none;
  border-bottom: 0.5px solid var(--border-color);
  outline: none;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  width: 60%;
}

.search-input::placeholder {
  color: var(--placeholder-color);
}

.link {
  font-family: var(--font-family);
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.link:hover {
  color: var(--secondary-color);
}

.brand-name a {
  text-decoration: none;
  font-family: italic;
  font-size: 28px;
  font-weight: bolder;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.brand-name:hover {
  color: var(--main-color);
}

.icon {
  font-size: 20px;
  margin: 0 10px;
  color: var(--main-color);
}

ul, li, a {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  color: #000000;
}

.font-playfair {
  font-family: var(--font-family-playfair);
}

.sub-nav {
  position: absolute;
  background-color: #ffffff;
  transition: all 0.5s ease;
  z-index: -9;
  opacity: 0;
  width: 200px;
}

.item-navbar:hover .sub-nav {
  z-index: 9;
  opacity: 1;
}

.sub-menu-nav li a {
  padding: 20px;
}

.sub-menu-nav li h5,
.sub-menu-nav li h5 li {
  font-weight: bold;
  font-family: monospace;
}

.menu-nav {
  position: relative;
}

.sub-menu-nav {
  position: absolute;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 9;
  border: 0.5px solid var(--border-color);
  width: 1300px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
  transform: translateY(50px);
}

.menu-nav:hover .sub-menu-nav {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}
