.search-input {
  padding: 10px 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .5px solid #D1D2D4;
  outline: none;
  font-size: 16px;
  font-family: "Arial, sans-serif";
  color: #333;
  width: 60%;
}

.search-input::placeholder {
  color: #949494;
}

.containerD {
  margin: 0 5%;
}

.link {
  font-family: "Arial, sans-serif";
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.link:hover {
  color: #333;
}

.brand-name a {
  text-decoration: none;
  font-family: italic;
  font-size: 28px;
  font-weight: bolder;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.brand-name:hover {
  color: #000000;
}

.icon {
  font-size: 20px;
  margin: 0 10px;
  color: #000000;
}

.sub-nav {
  position: absolute;
  background-color: #ffffff;
  transition: all ease 0.5s;
  z-index: -9;
  opacity: 0;
  width: 200px;
}
.item-navbar:hover .sub-nav {
  z-index: 9;
  opacity: 1;
}

ul li a {
  text-decoration: none;
  color: #000000;
}
ul, li {
  margin: 0;
}
.font-playfair {
  font-family: 'Playfair Display', serif;
}

.sub-menu-nav li a{
  padding: 20px;
}

.sub-menu-nav li h5,
.sub-menu-nav li h5 li{
  font-weight: bold;
  font-family: monospace;
}

.menu-nav {
  position: relative;
}

.sub-menu-nav {
  position: absolute;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 9;
  border: 0.5px solid #D1D2D4;
  width: 1300px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
  transform: translateY(50px);
}

.menu-nav:hover .sub-menu-nav {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}
